* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #2E3192, #1BFFFF);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hero {
  width: 90%;
  max-width: 650px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.hero h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

.hero h1 span {
  color: #FF4081;
}

.tagline {
  font-size: 16px;
  margin-bottom: 20px;
  opacity: 0.8;
}

textarea {
  width: 100%;
  height: 150px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  padding: 15px;
  outline: none;
  resize: none;
  margin-bottom: 20px;
}

.controls, .sliders {
  margin: 15px 0;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 5px;
  background: #ffffff; 
  color: #000000; 
  font-weight: 500;
  cursor: pointer;
}

select option {
  background: #ffffff;
  color: #000;
}
select, input[type="range"] {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-top: 5px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

label {
  font-size: 14px;
  text-align: left;
  display: block;
  margin-bottom: 5px;
  
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

#speakBtn{
  background: linear-gradient(45deg, #501529, #FF80AB);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}
button {
  background: linear-gradient(45deg, #FF4081, #FF80AB);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #FF4081;
}

#pauseBtn {
  background: linear-gradient(45deg, #ffa726, #fb8c00);
}

#resumeBtn {
  background: linear-gradient(45deg, #66bb6a, #43a047);
}
